.trainingContainer {
  display: flex;
  justify-content: start;
  border-top: 1px solid #dcdcde;
  margin-top: 0;
  padding-bottom: 15px;
  padding-right: 10px;

  @media only screen and (max-width: 768px) {
    padding-right: 0;
  }

    form {
    width: 25%;
    max-width: 25%;
    min-width: 25%;

    input {
      width: 100%;
    }
  }
}

