{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:promise/recommended",
    "plugin:sonarjs/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "react",
    "simple-import-sort",
    "react-hooks",
    "promise",
    "optimize-regex",
    "sonarjs",
    "prettier",
    "formatjs"
  ],
  "rules": {
    "sonarjs/no-identical-functions": "off",
    "sonarjs/cognitive-complexity": "off",
    "react/display-name": "off",
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^\\u0000"],
          ["^@?\\w"],
          ["^(api|assets|components|containers|config|domain|etc|hooks|lang|lib|misc|store|styles|types|utils)(/.*|$)"],
          ["^\\."]
        ]
      }
    ],
    "simple-import-sort/exports": "error",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "jsx-quotes": ["error", "prefer-double"],
    "formatjs/enforce-id": [
      "warn",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]"
      }
    ]
  },
  "globals": {
    "React": "writable"
  }
}
