.profileWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &__noProfile {
    text-align: center;
  }
}
.profileData {
  padding: 10px;
}

.userItems {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;

  @media only screen and (max-width: 768px) {
    margin-top: 15px;
  }

  &__link {
    margin-top: 10px;
    padding: 5px 12px;
    border: 1px solid #1068bf;
    border-radius: 4px;
    margin-left: 10px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1f75cb;
    transition: all 120ms;

    &:hover {
      background-color: #1068bf;
    }
  }
}

