.profileWrapper {
  position: relative;
  height: 100%;
  overflow: auto;
  padding-bottom: 45px;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &__noProfile {
    text-align: center;
  }
}
.profileData {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__colLeft {
    width: 50%;
    padding-right: 10px;

    @media only screen and (max-width: 768px) {
      width: 100%;
      padding-right: 0;
    }
  }

  &__colRight {
    width: 50%;
    padding-left: 10px;

    @media only screen and (max-width: 768px) {
      width: 100%;
      padding-left: 0;
    }
  }
}

.userItems {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;

  @media only screen and (max-width: 768px) {
    margin-top: 15px;
  }
}

