.programExpandContainer {
  padding: 20px 0 0;
  border-radius: 8px;
  color: #333238;
  position: relative;
  flex-grow: 1;
  height: 10%;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 768px) {
    padding-top: 10px;
  }
}

.programDaysContainerInner {
  overflow: auto;
  height: 100%;
}

.programExpand {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  h2 {
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: #333238;
    text-align: center;
    width: 100%;
    padding: 0 70px;

    @media only screen and (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  span:first-child {
    margin-right: 12px;
  }

  &__type {
    display: flex;
    justify-content: left;
    margin: 5px 0;
    align-items: center;

    @media only screen and (max-width: 768px) {
      position: relative;
      margin: 0;
      order: 2;
      width: 50%;
      justify-content: flex-end;
      //
      //&:after {
      //  content: '';
      //  width: 150%;
      //  height: 1px;
      //  background-color: #dcdcde;
      //  display: block;
      //  position: absolute;
      //  top: calc(100% + 5px);
      //  left: 50%;
      //  transform: translateX(-50%);
      //}
    }
  }

  &__author {
    margin-left: 20px;

    @media only screen and (max-width: 768px) {
      margin: 0;
      order: 2;
      width: 50%;
    }
  }
}

.label {
  font-size: 12px;

  &__item {
    margin-left: 8px;
    font-size: 15px;
    font-weight: 500;
  }
}

.programSettings {
  position: absolute;
  width: 120px;
  top: 2px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > * {
    height: 24px !important;
    width: 24px !important;
    margin-left: 5px;
  }
}