.users {
  text-align: center;
  padding: 0 10px;

  &__list {
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  span {
    margin-top: 20px;
    color: rgba(16, 104, 191, 0.55);
    font-size: 21px;
    text-shadow: rgba(87, 87, 190, 0.45) 1px 0 1px;
  }
}