.users {
  text-align: center;

  @media only screen and (max-width: 768px) {
    padding-bottom: 45px;
  }

  &__list {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}