.programLink {
  transition-property: all;
  transition-duration: 0.1s;
  transition-delay: 0s;
  transition-timing-function: ease;
  margin: 10px 0 0;
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #333238;
  border: 2px solid #1f75cb;

  &:hover {
    background-color: #ececef;
  }
}

.link_active {
  opacity: 1;
  background-color: #1f75cb;
  color: #ffffff;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .programLink {

    &:hover {
      background-color: #1f75cb;
    }
  }
}