.userBlock {
  width: 50%;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media only screen and (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  &:hover {
    .userBlock {
      &__name {
        color: #1068bf;
      }
    }
  }

  &:nth-child(2n - 1) {
    border-right: 1px solid #dcdcde;

    @media only screen and (max-width: 768px) {
      border: none;
    }
  }

  &__addToFriends {
    position: absolute;
    right: 20px;
    background-color: #1f75cb;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 12px;
    color: #ffffff;
    font-weight: 500;
    transition: all 100ms;

    @media only screen and (max-width: 768px) {
      right: 0;
    }

    &:hover {
      background-color: #1068bf;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__pic {
    min-width: 50px;
    height: 50px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
    width: 50px;

    @media only screen and (max-width: 768px) {
      width: 50px;
      height: 50px;
      min-width: 50px;
    }
  }

  &__image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }

  &__name {
    font-size: 18px;
    font-weight: 500;
    color: #333238;

    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
}