

.comments {
  margin-top: 14px;
  background-color: #d2e7ee;
  border-radius: 6px;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #97d7ec;

  &_text {

    span {
      font-size: 15px;
    }
  }

  &_date {

    span {
      font-size: 10px;
    }
  }
}