.navigationWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 10px 10px 10px;

  @media only screen and (max-width: 768px) {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #edf4fb;
    z-index: 2;
    padding: 5px;
    border-top: 1px solid #dcdcde;
  }
}

.links {
  a {
    color: blueviolet;
  }
  font-size: 20px;

  &__active {
    a {
      color: yellow;
    }
  }
}

.customLink {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: 2px solid #dcdcde;
  padding: 4px 12px;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 100ms;
  margin: 0 4px;
  max-width: 140px;
  flex-grow: 1;
  justify-content: center;
  color: #1068bf;

  &:hover {
    background-color: #ececef;
  }

  svg {
    margin-right: 10px;
  }

  &_active {
    border-color: #1068bf;
    pointer-events: none;
  }
}

