.navigationWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 10px 10px 10px;

  @media only screen and (max-width: 768px) {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #edf4fb;
    z-index: 12;
    padding: 5px;
    border-top: 1px solid #dcdcde;
  }
}

.customLink {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: 2px solid #dcdcde;
  padding: 4px 12px;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 100ms;
  margin: 0 4px;
  max-width: 140px;
  flex-grow: 1;
  justify-content: center;
  color: #1068bf;

  &__active {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border: 2px solid #6791bb;
    padding: 4px 12px;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 100ms;
    margin: 0 4px;
    max-width: 140px;
    flex-grow: 1;
    justify-content: center;
    color: #1068bf;

    &:hover {
      background-color: #ececef;

      @media only screen and (max-width: 769px) {
        background-color: #edf4fb;
      }
    }

    svg {
      margin-right: 10px;
    }
  }

  &:hover {
    background-color: #ececef;

    @media only screen and (max-width: 769px) {
      background-color: #edf4fb;
    }
  }

  svg {
    margin-right: 10px;
  }
}

