.publications {
  margin: 140px 10px 20px;
  height: 100%;

  @media only screen and (max-width: 768px) {
    margin: 10px 10px 20px;
  }

  h3 {
    text-align: center;
    color: #14144f;
    font-size: 16px;
    margin-bottom: 15px;
  }
  &__field {
    display: flex;
    justify-content: center;

    textarea {
      width: 80%;
      border-radius: 4px;
      display: block;
      border: 1px solid #89888d;
      padding: 4px 12px;
      transition: all 100ms;
      min-height: 80px;
    }
  }

  &__buttons {
    margin-top: 5px;
    width: 90%;
    display: flex;
    justify-content: flex-end;

    .send {
      background: none;
    }
  }
}


.editor {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__field {
    border-radius: 4px;
    padding: 5px;
    width: 80%;
    height: auto;
  }

  &__button {
    padding: 2px 6px;
    border: 1px solid #1068bf;
    border-radius: 4px;
    font-weight: 500;
    color: #ffffff;
    background-color: #1f75cb;
    transition: all 120ms;
  }
}

.imagesLoad {
  margin-right: 10px;
  cursor: pointer;

  &__counter {
    color: #1068bf;
    font-weight: 600;
  }
}
