.customLink {
  color: #1f75cb;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 15px 5px;
  border-bottom: 2px solid transparent;
  border-left: 2px solid #dcdcde;
  border-right: 2px solid #dcdcde;
  border-top: 2px solid #dcdcde;
  box-sizing: border-box;
  margin: 0 10px;
  border-radius: 10px 10px 0 0;
  display: block;

  &:hover {
    color: #1f75cb;
  }
}

.customLinkActive {
  border-radius: 10px 10px 0 0;
  font-size: 14px;
  font-weight: 500;
  color: #1f75cb;
  padding: 7px 15px 7px;
  margin-bottom: -2px;
  background-color: #ffffff;
  border-left: 2px solid #1f75cb;
  border-right: 2px solid #1f75cb;
  border-top: 2px solid #1f75cb;
  border-bottom: 2px solid #ffffff;
  pointer-events: none;
}