.header_wrapper {
  position: relative;
  padding: 10px 20px 10px;
  display: flex;
  justify-content: space-between;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
  }

  a{
    color: black;
  }
}

.loginActive {
  color: #7a461d;
  font-weight: 500;
}

.logotype {
  font-size: 18px;
  display: flex;
  align-items: center;
  font-family: "Agency FB", serif;
  &_goHome {
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .header_wrapper {

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }
}