.header_wrapper {
  position: relative;
  padding: 10px 20px 10px;
  display: flex;
  justify-content: space-between;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
  }
}

.loginActive {
  color: #7a461d;
  font-weight: 500;
}

.logotype {
  font-size: 18px;
  display: flex;
  align-items: center;
  font-family: "Arvo", serif;


  &_goHome {
    cursor: pointer;
  }
}

.loginLogout {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1068bf;

  @media only screen and (max-width: 768px) {
    display: inline-block;
  }

  &__icon {
    width: 24px;
    height: 24px;

    svg {
      width: 100%;
      height: 100%;
    }

    @media only screen and (max-width: 768px) {
      display: block;
    }
  }

  &__text {
    display: block;
    font-weight: 700;
    margin-left: 8px;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header_wrapper {
    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }
}