.createProgram {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-bottom: 10px;
  width: 100%;

  &__link {
    background: none;
    outline: 1px solid white;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #2da44e;
    padding: 8px 10px 6px;
    border: 1px solid #2da44e;
    border-radius: 4px;
    width: 100%;
    justify-content: center;

    svg {
      width: 22px;
      height: 22px;
    }

    span {
      margin-left: 18px;
      line-height: 22px;
    }
  }
}