.createProgramBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 8px 0;
  padding: 6px;
  border: 1px solid #5da3b4;
  border-radius: 4px;
  min-width: 300px;
}

.createProgram {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
  margin-top: auto;

  &__link {
    background: none;
    outline: 1px solid white;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #2da44e;
    padding: 0 0 2px 0;
    border-radius: 0;
    text-decoration: underline;

    svg {
      width: 22px;
      height: 22px;
    }

    span {
      margin-left: 18px;
      line-height: 22px;
    }
  }
}