.wikiContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;

  &__filter {
    padding: 10px 10px 10px 0;
    //border-right: 1px solid #dcdcde;
  }

  &__exercises {
    padding: 10px;
  }
}