.weightHistory {
  margin: 15px 10px 30px 10px;
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  width: 30%;
  overflow: auto;

  &_storyBox {
    margin: 0 5px;
    border-left: 1px solid #dcdcde;
    padding: 0 5px;

    &:first-child {
      border: 0;
    }
  }

  &_date {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: inline-block;
  }

  &_weights {
    p {
      margin-top: 8px;
      line-height: 24px;
      border-bottom: 1px solid #dcdcde;
    }
  }
}