.trainingWrapper {
  margin-top: 10px;
}

.linksContainer {
  display: flex;
  justify-content: center;
}

.trainingContent {
  margin: 10px 8px 0 8px;
  border-radius: 8px;
  padding: 12px;
  background-color: rgb(231, 248, 234);
  height: 100%;
  min-height: 600px;
}

