.trainingWrapper {
}

.linksContainer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border-bottom: 2px solid #1f75cb;
  position: relative;

  &:after {
    content: '';
    height: 2px;
    width: 100vw;
    display: block;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: #1f75cb;
    z-index: -1;
  }

  a {
    display: flex;
  }
}

.trainingContentWrapper {
  padding: 0 10px 10px;
  height: 10%;
  flex-grow: 1;
}

.trainingContent {
  border-radius: 8px;
  padding: 12px;
  height: 100%;
  min-height: 600px;
}

