.trainingWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.linksContainer {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #1f75cb;
  position: relative;

  &:after {
    content: '';
    height: 1px;
    width: 100vw;
    display: block;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: #1f75cb;
    z-index: -1;
    cursor: pointer;
  }

  a {
    width: 110px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

.trainingContentWrapper {
  padding: 0 10px 10px;
  height: 10%;
  flex-grow: 1;
  overflow: hidden;
}

.trainingContent {
  border-radius: 8px;
  padding: 10px;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .linksContainer {
    padding-top: 0;
  }

  .trainingContentWrapper {
    padding: 0 0 10px;
  }

  .trainingContent {
    padding: 10px 10px 35px;
  }
}