.title {
  color: #14144f;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 20px;
}

.muscleGroups {
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;

  h3 {
    color: #14144f;
    font-weight: 400;
    margin-bottom: 20px;
  }

  & > div {
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {

  .title {
    font-weight: 300;
  }

  .trainingContentWrapper {
    padding: 0 0 10px;
  }
}