.title {
  color: rebeccapurple;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.muscleGroups {
  text-align: center;
  color: hsl(30, 100%, 40%);

  h3 {
    color: #14144f;
    font-weight: 400;
    margin-bottom: 20px;
  }
}