.title {
  color: #14144f;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.muscleGroups {
  text-align: center;
  color: hsl(30, 100%, 40%);

  h3 {
    color: rebeccapurple;
    font-weight: 500;
    margin-bottom: 12px;
  }
}