.groupsLinks {
  div {
    width: 100%;
    margin-bottom: 5px;

    &:hover {
      background-color: rgba(121, 128, 211, 0.2);
    }

    span {
      cursor: pointer;
      display: block;
      padding: 5px;
    }
  }
}