*{padding: 0;margin: 0;border: 0;}
*,*:before, *:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active{outline: none;}
a:focus,a:active{outline: none;}
nav, footer, header, aside{display: block;}
html, body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400 ;}
textarea{resize: none;}

@font-face {
  font-family: 'Arvo';
  src: url('./assets/fonts/Arvo-Bold.eot');
  src: url('./assets/fonts/Arvo-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Arvo-Bold.woff2') format('woff2'),
  url('./assets/fonts/Arvo-Bold.woff') format('woff'),
  url('./assets/fonts/Arvo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marianne';
  src: url('./assets/fonts/Marianne-Light.eot');
  src: url('./assets/fonts/Marianne-Light.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Marianne-Light.woff2') format('woff2'),
  url('./assets/fonts/Marianne-Light.woff') format('woff'),
  url('./assets/fonts/Marianne-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marianne';
  src: url('./assets/fonts/Marianne-Regular.eot');
  src: url('./assets/fonts/Marianne-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Marianne-Regular.woff2') format('woff2'),
  url('./assets/fonts/Marianne-Regular.woff') format('woff'),
  url('./assets/fonts/Marianne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marianne';
  src: url('./assets/fonts/Marianne-Medium.eot');
  src: url('./assets/fonts/Marianne-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Marianne-Medium.woff2') format('woff2'),
  url('./assets/fonts/Marianne-Medium.woff') format('woff'),
  url('./assets/fonts/Marianne-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marianne';
  src: url('./assets/fonts/Marianne-Bold.eot');
  src: url('./assets/fonts/Marianne-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Marianne-Bold.woff2') format('woff2'),
  url('./assets/fonts/Marianne-Bold.woff') format('woff'),
  url('./assets/fonts/Marianne-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Light.eot');
  src: url('./assets/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Roboto-Light.woff2') format('woff2'),
  url('./assets/fonts/Roboto-Light.woff') format('woff'),
  url('./assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.eot');
  src: url('./assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
  url('./assets/fonts/Roboto-Regular.woff') format('woff'),
  url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Medium.eot');
  src: url('./assets/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Roboto-Medium.woff2') format('woff2'),
  url('./assets/fonts/Roboto-Medium.woff') format('woff'),
  url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.eot');
  src: url('./assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Roboto-Bold.woff2') format('woff2'),
  url('./assets/fonts/Roboto-Bold.woff') format('woff'),
  url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Marianne', sans-serif;
  font-weight: 400;
}

button {
  font-family: 'Marianne', sans-serif !important;
}

h1 {
  font-size: 22px;
  font-family: 'Arvo', sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Marianne', sans-serif;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 16px;
  line-height: 1.25;
}