
.writeComments {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  &_area {
    width: 100%;

    textarea {
      width: 100%;
      height: 75px;
      border-radius: 6px;
      border: 1px solid #dcdcde;
      padding: 10px 15px;

      &:focus {
        border-color: #1f75cb;
      }
    }
  }

  &_send {
    margin-top: 10px;

    button{
      padding: 7px 15px 7px 15px;
      background-color: #1f75cb;
      color: #ffffff;
      border-radius: 8px;
      font-weight: 500;
      transition: all 100ms;
      min-width: 150px;

      &:hover {
        background-color: #1068bf;
      }
    }
  }
}