.programExercisesContainer {
  height: 10%;
  margin-top: 15px;
  width: 35%;

  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
  }
}

.exercises {
  padding: 0 0 0 20px;
  min-width: 210px;

  @media only screen and (max-width: 768px) {
    min-width: auto;
    padding: 0;
  }

    p {
    margin-top: 8px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    border-bottom: 1px solid #dcdcde;
  }
}