.exerciseWrapper {
  margin: 4px 0;

  &_exercise {
    display: inline-block;
    border: 1px solid #dcdcde;;
    box-sizing: border-box;
    border-radius: 4px;
    color: #1f75cb;
    padding: 7px 15px 5px;
  }
}